.nav-item {
    /* design nav item */
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 25px; 
}

.nav-link {
    /* design nav link */
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

#signin  #signup
{
    /* put to the right */
    float: right;
}

.bg-dark {
    background-color: black!important;
}

h2.mb-4 {
    font-family: revert;
    font-weight: 500;
}
