.course-banner {
    background: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
    padding: 100px 0;
    position: relative;
}

.course-intro__title {
    margin-left: -300px;
}

.course-intro__content {
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    margin-top: -355px;
    margin-left: 300px;
    border: 1px solid #651818;
    border-radius: 10px;
    padding: 20px;
}

.course-intro__info {
    margin-top: 20px;
}

/* css for Card */
.card-2 {
    margin-top: -350px;
}

.course-content {
    margin-top: 40px;
    margin-left: 300px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
}

.course-content__footer {
    width: 100%;
    margin-top: 20px;
    margin-left: 300px;
}

.course-content__item {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
